## Ignore temporary files and build results

# User-specific files
*.suo
*.user

# Build results
Debug/
Fast/
Generic/
lib377/
lib434/
lib503/
lib546/
lib610/
lib697/
lib751/
objs/
objs377/
objs434/
objs503/
objs546/
objs610/
objs697/
objs751/

# Visual Studio cache directory and files
.vs/
*.VC.db
*.VC.VC.opendb
